---
const appUser: string = import.meta.env.APP_URL;
---

<section id="about" class="wp-about">
  <div class="wp-title">¿Por qué Neogaleno?</div>
  <div class="grid grid-cols-10 container-grid-about">
    <div class="features col-span-4 lg:col-span-4 md:col-span-10 sm:col-span-10 sm:mt-20">
      <div class="item">
        <div class="grid grid-cols-10">
          <div class="col-span-2">
            <div class="flex justify-center">
              <div class="cicle">
                <img src="/webpage/wp-about-1.svg" alt="Icono de un relog: tu tiempo es importante" />
              </div>
            </div>
            <div class="flex justify-center">
              <div class="line-1"></div>
            </div>
          </div>
          <div class="col-span-8">
            <div class="title">Tu tiempo es importante</div>
            <p class="text">
              Creemos que tu tiempo debe ser para brindar la mejor atención a
              tus pacientes.
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="grid grid-cols-10">
          <div class="col-span-2">
            <div class="flex justify-center">
              <div class="cicle">
                <img src="/webpage/wp-about-2.svg" alt="Icono de un cohete: producto construido para ti" />
              </div>
            </div>
            <div class="flex justify-center">
              <div class="line-2"></div>
            </div>
          </div>
          <div class="col-span-8">
            <div class="title">Producto construido para ti</div>
            <p class="text">
              Creamos productos fáciles de utilizar, con diseños amigables y
              con las funcionalidades que realmente necesitas
            </p>
          </div>
        </div>
      </div>
      <div class="item item-last sm:mb-20">
        <div class="grid grid-cols-10">
          <div class="col-span-2">
            <div class="flex justify-center">
              <div class="cicle">
                <img src="/webpage/wp-about-3.svg" alt="Icono de una nube: software en la nube" />
              </div>
            </div>
            <div class="flex justify-center">
              <div class="line-3"></div>
            </div>
          </div>
          <div class="col-span-8">
            <div class="title">Software en la nube</div>
            <div class="text">
              Podrás administar:
              <ul>
                <li>Expedientes médicos de tus pacientes</li>
                <li>Generar recetas y estudios de laboratorio</li>
                <li>Controlar cuentas</li>
              </ul>
              ¡Toda tu información en tiempo real!
            </div>
          </div>
        </div>
      </div>
      <div class="controls">
        <a href={ appUser + "/demo/booking" } class="mt-10 white-btn">
          Probar demo
        </a>
        <a href={ appUser + "/users/sign_up" } class="primary-btn">
          Crear cuenta ¡gratis!
        </a>
      </div>
    </div>
    <div class="video col-span-6 lg:col-span-6 md:col-span-10 sm:col-span-10 lg:order-last md:order-first sm:order-first">
      <video class="video" style="border-radius: 2rem" controls>
        <source src="/webpage/about.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</section>

<style>
.wp-about {
  padding: 10rem;
}
.wp-about .wp-title{
  margin-bottom: 2rem;
}
.container-grid-about{
  height: 43em;
}
.item {
  padding-right: 5rem;
}

ul {
  list-style: disc;
  padding-left: 2rem;
}

.cicle {
  @apply flex;
  @apply justify-center;
  @apply items-center;
  background: #EFF7F8;
  border-radius: 50%;
  height: 4.6rem;
  width: 4.6rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.cicle img {
  height: 3.6rem;
  width: 3.6rem;
}

.line-1 {
  background: #009BA9;
  height: 10rem;
  width: .4rem;
  margin-bottom: 2rem;
}

.line-2 {
  background: #009BA9;
  height: 10rem;
  width: .4rem;
  margin-bottom: 2rem;
}

.line-3 {
  background: #009BA9;
  height: 13rem;
  width: .4rem;
  margin-bottom: 4rem;
}

.item .title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 2.9rem;
  color: #003236;
  margin-bottom: 2rem;
}

.item .text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #000000;
  width: 70%;
  line-height: 1.6;
}

.primary-btn {
  font-size: 2rem !important;
  font-weight: 400;
  padding: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-left: 1rem;
  border: 1px solid #FFB26D;
}

.white-btn {
  font-size: 2rem !important;
  font-weight: 400;
  padding: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-left: 5rem;
  border: 1px solid #FFB26D;
}

.video {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1758px) {
  .wp-about {
    padding-top: 15rem;
  }

  .wp-title {
    margin-bottom: 10rem;
  }

  .video {
    width: 90%;
    height: 96%;
  }
}

@media only screen and (max-width: 1758px) {
  .wp-about {
    padding-top: 10rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
  .item .title {
    font-size: 3rem;
  }

  .wp-about {
    padding-top: 10rem;
  }

  .item .text {
    font-size: 2.2rem;
  }

  .line-1 {
    height: 15rem;
  }

  .line-2 {
    height: 15rem;
  }

  .line-3 {
    height: 18rem;
  }

  .primary-btn {
    font-size: 3rem !important;
  }

  .white-btn {
    font-size: 3rem !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .primary-btn {
    font-size: 1.8rem !important;
    font-weight: 400;
    padding: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 1rem;
    border: 1px solid #FFB26D;
  }

  .white-btn {
    font-size: 1.8rem !important;
    font-weight: 400;
    padding: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 5rem;
    border: 1px solid #FFB26D;
  }
}
@media only screen and (min-width: 425px) and (max-width: 786px) {
  .item .title {
    font-size: 3rem;
  }

  .item .text {
    font-size: 2.2rem;
  }

  .line-1 {
    height: 15rem;
  }

  .line-2 {
    height: 15rem;
  }

  .line-3 {
    height: 18rem;
  }

  .primary-btn {
    font-size: 2.5rem !important;
  }

  .white-btn {
    font-size: 2.5rem !important;
  }
}

@media only screen and (min-width: 425px) and (max-width: 661px) {
  .item .title {
    font-size: 2.8rem;
  }

  .item .text {
    font-size: 1.8rem;
  }

  .line-1 {
    height: 13rem;
  }

  .line-2 {
    height: 13rem;
  }

  .line-3 {
    height: 15rem;
  }

  .primary-btn {
    font-size: 2.5rem !important;
  }

  .white-btn {
    font-size: 2.5rem !important;
  }
}

@media only screen and (max-width: 639px) {
  .sm\:col-span-10 {
    grid-column: span 10 / span 10;
  }

  .video {
    order: -9999;
  }

  .features {
    margin-top: 10rem;
  }

  .item-last {
    margin-bottom: 5rem;
  }

  .primary-btn {
    font-size: 3rem !important;
    display: block;
    margin: 0;
    text-align: center;
    padding: 2rem;
  }

  .white-btn {
    font-size: 3rem !important;
    display: block;
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
    padding: 2rem;
  }
}

@media only screen and (max-width: 606px) {
  .item .text {
    width: 100%;
  }

  .primary-btn {
    font-size: 2.2rem !important;
  }

  .white-btn {
    font-size: 2.2rem !important;
  }
}

@media only screen and (max-width: 562px) {
  .primary-btn {
    font-size: 3rem !important;
    display: block;
    margin: 0;
    text-align: center;
    padding: 2rem;
  }

  .white-btn {
    font-size: 3rem !important;
    display: block;
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
    padding: 2rem;
  }
}
@media only screen and (max-width: 540px) {
  .primary-btn {
    font-size: 3rem !important;
    display: block;
    margin: 0;
    text-align: center;
    padding: 2rem;
  }

  .white-btn {
    font-size: 3rem !important;
    display: block;
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
    padding: 2rem;
  }
  .wp-about {
    padding: 5rem;
  }

  .item .title {
    font-size: 3rem;
  }

  .item .text {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 497px) {
  .wp-about {
    padding: 5rem;
    padding-top: 15rem;
  }

  .item .title {
    font-size: 3rem;
  }

  .item .text {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 460px) {
  .wp-about {
    padding: 3rem;
    padding-top: 15rem;
  }

  .line-3 {
    height: 20rem;
  }
}

@media only screen and (max-width: 425px) {
  .item .title {
    font-size: 2.8rem;
  }

  .item .text {
    font-size: 1.9rem;
  }

  .line-1 {
    height: 14rem;
  }

  .line-2 {
    height: 16rem;
  }

  .line-3 {
    height: 19rem;
  }
}

@media only screen and (max-width: 375px) {
  .wp-about {
    padding: 1rem;
    padding-top: 10rem;
  }

  .controls {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .item .title {
    font-size: 2.8rem;
  }

  .item .text {
    font-size: 1.8rem;
  }

  .line-1 {
    height: 10rem;
  }

  .line-2 {
    height: 15rem;
  }

  .line-3 {
    height: 13rem;
  }
}

@media only screen and (max-width: 321px) {
  .line-1 {
    height: 18rem;
  }

  .line-2 {
    height: 18rem;
  }

  .line-3 {
    height: 22rem;
  }
}
</style>