---
---

<div id="contact" class="wp-contact">
  <img class="map" src="/webpage/wp-map.svg" alt="mapa del mundo" />
  <div class="contact-container">
    <img src="/webpage/wp-logo.svg" class="logo" alt="Logo de neogaleno" />
    <div class="title">Tu tiempo es para tus pacientes</div>
    <div class="items grid grid-contact">
      <div class="col-span-1" style="--delay: 0.1s">
        <div class="item">
          <div class="flags">
            <img src="/webpage/mxn.svg" alt="Bandera de Mexico" />
          </div>
          <div class="info grid grid-cols-10">
            <div class="icon col-span-2">
              <img src="/webpage/wp-whatsapp.svg" alt="Whatsapp logo" />
            </div>
            <a
              id="wapp-mex"
              href="https://api.whatsapp.com/send?phone=525661393075"
              class="link col-span-8"
              target="_blank"
              @click="chatMXN()"
            >
              Click para chatear
            </a>
          </div>
          <div class="info grid grid-cols-10">
            <div class="icon col-span-2">
              <img src="/webpage/wp-email.svg" alt="Email logo" />
            </div>
            <div class="col-span-8">mex@neogaleno.com</div>
          </div>
        </div>
      </div>
      <div class="col-span-1" style="--delay: 0.25s">
        <div class="item">
          <div class="flags">
            <img src="/webpage/col.svg" alt="Bandera de Colombia" />
          </div>
          <div class="info grid grid-cols-10">
            <div class="icon col-span-2">
              <img src="/webpage/wp-whatsapp.svg" alt="Whatsapp logo" />
            </div>
            <a
              id="wapp-col"
              href="https://api.whatsapp.com/send?phone=525661393075"
              class="link col-span-8"
              target="_blank"
              @click="chatCOL()"
            >
              Click para chatear
            </a>
          </div>
          <div class="info grid grid-cols-10">
            <div class="icon col-span-2">
              <img src="/webpage/wp-email.svg" alt="Email logo" />
            </div>
            <div class="col-span-8">col@neogaleno.com</div>
          </div>
        </div>
      </div>
      <div class="col-span-1" style="--delay: 0.35s">
        <div class="item">
          <div class="flags">
            <img src="/webpage/ven.svg" alt="Bandera de Venezuela" />
          </div>
          <div class="info grid grid-cols-10">
            <div class="icon col-span-2">
              <img src="/webpage/wp-whatsapp.svg" alt="Whatsapp logo" />
            </div>
            <a
              id="wapp-ven"
              href="https://api.whatsapp.com/send?phone=525661393075"
              class="link col-span-8"
              target="_blank"
              @click="chatVEN()"
            >
              Click para chatear
            </a>
          </div>
          <div class="info grid grid-cols-10">
            <div class="icon col-span-2">
              <img src="/webpage/wp-email.svg" alt="Email logo" />
            </div>
            <div class="col-span-8">ven@neogaleno.com</div>
          </div>
        </div>
      </div>
      <div class="col-span-1" style="--delay: 0.45s">
        <div class="item">
          <div class="info-2">
            Resto de <span class="info">LATAM + España</span>
          </div>
          <div class="info grid grid-cols-10">
            <div class="icon col-span-2">
              <img src="/webpage/wp-whatsapp.svg" alt="Whatsapp logo" />
            </div>
            <a
              id="wapp-latam"
              href="https://api.whatsapp.com/send?phone=525661393075"
              class="link col-span-8"
              target="_blank"
              @click="chatLATAM()"
            >
              Click para chatear
            </a>
          </div>
          <div class="info grid grid-cols-10">
            <div class="icon col-span-2">
              <img src="/webpage/wp-email.svg" alt="Email logo" />
            </div>
            <div class="col-span-8">latam@neogaleno.com</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
let animation = false
const isInViewport = ()=> {
      const elem = document.querySelector('#contact.wp-contact')
      if(elem){

        const distance = elem.getBoundingClientRect()
  
        const isVisible =
          distance.top <
            (window.innerHeight || document.documentElement.clientHeight) &&
          distance.bottom > 0
  
        if (isVisible && !animation) {
          animation = true
          document
            .querySelectorAll('.items.grid.grid-contact .col-span-1')
            .forEach( e => {
              e.classList.add('animate')
            })
        }
        if (!isVisible && animation) {
          animation = false
          document
            .querySelectorAll('.items.grid.grid-contact .col-span-1')
            .forEach( e => {
              e.classList.remove('animate')
            })
        }
      }
      return animation
    }
setInterval(isInViewport, 1000)
</script>

<style>
.wp-contact .info {
  padding: 0;
  color: #149CAA;
}


.wp-contact {
  background: #149CAA;
  height: 90rem;
}

.wp-contact .map {
  position: absolute;
  right: 0;
  height: 90rem;
}

.logo {
  position: relative;
  left: -14px;
}

.wp-contact .title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 3.8rem;
  letter-spacing: .1rem;
  color: #FFFBF7;
}

.wp-contact .contact-container {
  padding-top: 9.8rem;
  padding-left: 10.4rem;
}


.wp-contact .items {
  margin-top: 6rem;
  width: 70%;
  z-index: 9;
}

/*
  width: 32.8rem;
  height: 20rem;
  margin-bottom: 4rem;
  padding-top: 2rem;
  */
.wp-contact .item {
  background: #ffffff;
  width: 100%;
  border-radius: 2rem;
  padding: 2rem;
  min-height: 150px;
}

.wp-contact .flags {
  @apply flex;
  @apply justify-center;
  padding: 2rem;
}

.wp-contact .flags img {
  border-radius: 1rem;
  width: 9rem;
}

.wp-contact .info {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;
  color: #149CAA;
  margin-bottom: .5rem;
}

.wp-contact .info-2 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;
  color: #003236;
  margin-bottom: .5rem;
  padding: 2rem;
}

.wp-contact .link {
  text-decoration-line: underline;
}

.wp-contact .icon {
  @apply flex;
  @apply justify-center;
  @apply items-center;
  width: 2rem;
  margin-left: 3rem;
}

/* width: 75rem; */
.wp-contact .grid-contact {
  @apply grid-cols-2;
  width: 70rem;
  gap: 0.7em;
}

.wp-footer {
  background: #ffffff;
  padding: 3rem;
  padding-top: 4rem;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  text-align: center;
  color: #149CAA;
}

.wp-footer .left {
  text-align: left;
}

.wp-footer .right {
  text-align: right;
}

.wp-footer img {
  float: right;
  position: relative;
  left: -21rem;
  width: 3rem;
}

.more-btn {
  background: #FFFFFF;
  box-shadow: 0 0.2rem 0.8rem rgb(0 0 0 / 16%);
  width: 100%;
  border-radius: 1.7rem;
  padding: 2.4rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  color: #149CAA;
}
.items.grid.grid-contact .col-span-1{
  opacity: 0;
}
.animate {
  animation-name: aparece;
  animation-delay: var(--delay);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.grid-contact div {
  transition: all 0.3s;
}

/* The animation code */
@keyframes aparece {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .map {
    display: none;
  }
}

@media (max-width: 650px) {
  #contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 2rem 0;
    position: relative;
    height: auto;
  }

  .logo {
    width: 40rem;
  }

  .wp-contact .title {
    font-size: 3rem;
    line-height: 3.2rem;
  }

  .wp-contact .item {
    width: 100%;
    margin: 0rem;
    gap: 0px;
  }
  .items.grid.grid-contact{
    margin: 0rem;
    gap: 0px;
  }

  /* padding-left: 5rem; */
  .wp-contact .contact-container {
    padding: 0;
  }

  .col-span-1 {
    padding: 0rem;
  }
}

@media (max-width: 650px) {
  .wp-contact {
    background: #149CAA;
    height: 150rem;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    left: 0;
  }

  .wp-contact .title {
    text-align: center;
  }

  .wp-contact .grid-contact {
    @apply grid-cols-1;
    width: 100%;
  }

  .wp-contact .item {
    width: 50%;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 450px) {
  .wp-contact .item {
    width: 80%;
  }

  .wp-contact .contact-container {
    padding-left: 0;
    padding-top: 0;
  }
}
</style>