---
---

<section id="features" class="wp-features">
  <div class="feature-container">
    <div class="wp-title">Funcionalidades</div>
    <div class="grid grid-features md:grid-cols-10">
      <div class="item col-span-1">
        <div class="container">
          <div class="grid grid-cols-4">
            <div class="col-span-1">
              <img class="feature-icon" src="/webpage/wp-features-1.png" alt="Registro de pacientes"  />
            </div>
            <div class="title col-span-3">Registro de pacientes:</div>
            <div class="text col-span-4">
              Ficha de paciente, historia clínica, historial de consultas y
              aviso de privacidad.
            </div>
          </div>
        </div>
      </div>
      <div class="item col-span-1">
        <div class="container">
          <div class="grid grid-cols-4">
            <div class="col-span-1">
              <img class="feature-icon" src="/webpage/wp-features-2.png" alt="Historia clínica digital" />
            </div>
            <div class="title col-span-3">Historia clínica digital:</div>
            <div class="text col-span-4">
              Antecedentes heredo-familiares, patológicos, no patológicos,
              gineco-obstétricos, y otros por especialidad.
            </div>
          </div>
        </div>
      </div>
      <div class="item col-span-1">
        <div class="container">
          <div class="grid grid-cols-4">
            <div class="col-span-1">
              <img class="feature-icon" src="/webpage/wp-features-3.png" alt="Expediente médico digital"  />
            </div>
            <div class="title col-span-3">Expediente médico digital:</div>
            <div class="text col-span-4">
              Flexibilidad total para personalizar tu consulta partiendo del
              template sugerido para tu especialidad.
            </div>
          </div>
        </div>
      </div>
      <div class="item col-span-1">
        <div class="container">
          <div class="grid grid-cols-4">
            <div class="col-span-1">
              <img class="feature-icon" src="/webpage/wp-features-4.png" alt=">Registro de consultas" />
            </div>
            <div class="title col-span-3">Registro de consultas:</div>
            <div class="text col-span-4">
              Historial de todas las consultas previas, incluyendo recetas y
              resultados de estudios digitalizados.
            </div>
          </div>
        </div>
      </div>
      <div class="item col-span-1">
        <div class="container">
          <div class="grid grid-cols-4">
            <div class="col-span-1">
              <img class="feature-icon" src="/webpage/wp-features-5.png" alt="Recetas electrónicas" />
            </div>
            <div class="title col-span-3">Recetas electrónicas:</div>
            <div class="text col-span-4">
              Envía tus recetas personalizadas por email o imprímelas en tu
              recetario de siempre.
            </div>
          </div>
        </div>
      </div>
      <div class="item col-span-1">
        <div class="container">
          <div class="grid grid-cols-4">
            <div class="col-span-1">
              <img class="feature-icon" src="/webpage/wp-features-6.png" alt="Control de cuentas" />
            </div>
            <div class="title col-span-3">Control de cuentas:</div>
            <div class="text col-span-4">
              Costo de la consulta, procedimientos e insumos, y reporte en
              Excel para contador con datos de facturación de los pacientes.
            </div>
          </div>
        </div>
      </div>
      <div class="item col-span-1">
        <div class="container">
          <div class="grid grid-cols-4">
            <div class="col-span-1">
              <img class="feature-icon" src="/webpage/wp-features-7.png" alt="Dashboard con insights" />
            </div>
            <div class="title col-span-3">Dashboard con insights:</div>
            <div class="text col-span-4">
              Data de cantidad de consultas, facturación, distribución de
              pacientes por edad y género, medicamentos frecuentes y más.
            </div>
          </div>
        </div>
      </div>
      <div class="item col-span-1">
        <div class="container">
          <div class="grid grid-cols-4">
            <div class="col-span-1">
              <img class="feature-icon" src="/webpage/wp-features-8.png" alt="Seguridad" />
            </div>
            <div class="title col-span-3">Seguridad:</div>
            <div class="text col-span-4">
              Ten la tranquilidad de que usamos la más alta tecnología para
              mantener tu data encriptada y respaldada en AWS.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
#features {
  height: 100vh;
}
/*
  padding: 10rem;
  padding-top: 5rem;
*/
.wp-features {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
}

.wp-features .grid-features {
  @apply grid-cols-4;;
  gap: 1em;
}

.wp-features .feature-container {
  background: #FFFFFF;
  box-shadow: 0 .2rem .8rem rgba(0, 0, 0, 0.16);
  width: 100%;
  border-radius: 1.7rem;
  padding: 1.8rem;
  padding-top: 3.6rem;
  padding-bottom: 5.7rem;
}

/* 
.wp-features .item {
  padding: 1.5rem;
}
 */

.wp-features .feature-icon {
  width: 7rem;
}

.wp-features .container {
  background: #FFFFFF;
  box-shadow: 0 .2rem .8rem rgba(0, 0, 0, 0.16);
  width: 100%;
  height: 23rem;
  border-radius: 1.7rem;
  padding: 3.4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.wp-features .item .title {
  @apply flex;
  @apply items-center;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #003236;
  margin-left: 1rem;
}

.wp-features .item .text {
  @apply flex;
  @apply items-center;
  font-family: 'Rubik';
  font-size: 1.6rem;
  line-height: 2rem;
  color: #003236;
  margin-top: 1rem;
}


@media only screen and (max-width: 1025px) {
  #features{
    height: auto;
    padding: 5rem;
  }
  .col-span-1 {
      grid-column: span 2 / span 2;
  }

  .wp-features .item .title {
    margin-top: 2rem;
    margin-left: 0rem;
  }
}

@media only screen and (max-width: 769px) {
  .wp-features .container {
    height: 28rem;
  }
}

@media only screen and (max-width: 640px) {
  .wp-features .container {
    height: 35rem;
  }
}

@media only screen and (max-width: 600px) {
  .col-span-1 {
      grid-column: span 4 / span 1;
  }

  .wp-features .container {
    height: 25rem;
  }

  .wp-features {
    padding: 5rem;
    padding-top: 5rem;
  }
}

@media only screen and (max-width: 400px) {
  .wp-features {
    padding: 3rem;
    padding-top: 5rem;
  }

  .wp-features .container {
    height: 30rem;
  }
}
</style>