---
const appUser: string = import.meta.env.APP_URL;
---

<nav class="wp-header flex items-center justify-between flex-wrap p-6 ph:hidden">
  <div class="flex items-center flex-shrink-0 text-white mr-6"></div>
  <div class="w-full block flex-grow sm:flex sm:justify-center lg:flex lg:items-center lg:w-auto sm:flex sm:items-center sm:w-auto">
    <div class="text-sm lg:flex-grow"></div>
    <div>
      <a
        href="#about"
        class="block mt-4 lg:inline-block lg:mt-0 sm:inline-block sm:mt-0 text-white hover:text-white mr-20"
      >
        ¿Por qué Neogaleno?
      </a>
      <a
        href="#features"
        class="block mt-4 lg:inline-block lg:mt-0 sm:inline-block sm:mt-0 text-white hover:text-white mr-20"
      >
        Funcionalidades
      </a>
      <a
        href="#pricing"
        class="block mt-4 lg:inline-block lg:mt-0 sm:inline-block sm:mt-0 text-white hover:text-white mr-20"
      >
        Precios
      </a>
      <a
        href="#contact"
        class="block mt-4 lg:inline-block lg:mt-0 sm:inline-block sm:mt-0 text-white hover:text-white mr-20"
      >
        Contacto
      </a>
      <a href={ appUser + "/demo/booking" } class="mr-10 white-btn">
        Probar demo
      </a>
      <a href={ appUser + "/users/sign_in" } class="login-btn mr-20 primary-btn sm:hidden lg:inline xl:inline">
        Login
      </a>
    </div>
  </div>
</nav>

<style>
.wp-header {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.8rem;
  background : #149CAA;
  padding-top: 4rem;
}

.primary-btn {
  font-size: 2rem !important;
  font-weight: 400;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.white-btn {
  font-size: 1.9rem !important;
  font-weight: 400;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media only screen and (max-width: 639px) {
  .wp-header {
    display: none;
  }
}
</style>
