---
import ScreenCarousel from "../ui/carousel/ScreenCarousel.astro";
import BannerHome from "../ui/carousel/BannerHome.astro";
import BtnDinamic from "../ui/BtnDinamicModalCondition.astro";
import BtnYoutube from "../ui/BtnModalYoutube.astro";
const appUser: string = import.meta.env.APP_URL;
---

<section class="wp-home">
  <div class="bg-home">
    <div class="blocks grid grid-home">
      <div
        class="block-1 xl:col-span-1 lg:col-span-1 md:col-span-2 sm:col-span-2"
      >
        <section class="login-section">
          <img
            src="/webpage/wp-logo.svg"
            class="logo"
            alt="Logo de neogaleno"
          />

          <a
            href="https://mobile.neogaleno.com"
            id="btn-mobile-home-login"
            class="size-50 primary-btn-big text-center"
          >
            Login
          </a>
        </section>

        <p class="title">Tu tiempo es para tus pacientes</p>
        <p class="content">
          En Neogaleno creemos que tu valioso tiempo debe ser para brindarle la
          mejor atención a tus pacientes.
        </p>
        <div class="controls">
          <BtnDinamic
            link={appUser + "/demo/booking"}
            dataName="data-demo-button-booking"
            modalIdName="modal-4"
            idName="btn-home-demo"
            className="size-50 white-bg primary-btn-big text-color-primary text-center"
          >
            Probar demo
          </BtnDinamic>

          <BtnDinamic
            link={appUser + "/users/sign_up"}
            dataName="data-demo-button-create"
            modalIdName="modal-5"
            idName="btn-home-account"
            className="size-50 primary-btn-big text-center"
          >
            Crear cuenta ¡gratis!
          </BtnDinamic>
        </div>
        <div class="sm:inline-flex lg:hidden xl:hidden">
          <img
            class="home-screen"
            src="/webpage/ng-screen.png"
            alt="Un screenshot de la aplicacion de neogaleno"
          />
        </div>
      </div>
      <div class="col-span-1">
        <div class="desktop sm:hidden lg:inline-flex xl:inline-flex bg-shadow">
          <!-- <ScreenCarousel /> -->
          <BannerHome />
        </div>
      </div>
    </div>
    <div class="ai-anima">
      <div class="ai-text">
        <span class="container-img-ai">
          <img src="starts.svg" alt="logo-ai" />
        </span>
        <span class="slogan-ai">
          Empodérate con Inteligencia Artificial (AI)
        </span>
      </div>
      <span class="video-preview">
        <BtnYoutube
          textValue="Ver video del asistente AI"
          className="btn-preview-video-ai white-bg primary-btn-big text-color-primary text-center"
        ></BtnYoutube>
      </span>
    </div>
  </div>

  <div class="section-img-div">
    <img
      src="/webpage/wp-home.svg"
      class="decoration sm:hidden lg:inline-flex xl:inline-flex"
      alt="figura irregular, decoracion"
    />

    <div class="certificate">
      <div>Cumplimos con las NOMs de COFEPRIS</div>
    </div>
  </div>
  <div class="certificate-sm">
    <div class="">Cumplimos con las NOMs de COFEPRIS</div>
  </div>
  <div class="container-modal-youtube"></div>
</section>
<style>
  .ai-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-size: 1.5em;
  }
  .video-preview {
    max-width: 60%;
    margin: 0;
    padding: 0;
  }

  .login-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
  }
  .login-section > img {
    margin: 0;
  }

  .login-section > a {
    height: 95%;
  }

  .ai-anima {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 2em 4em;
    gap: 1em;
    position: relative;
    padding-top: 7em;
  }

  div.ai-anima > span.slogan-ai {
    color: #ffffff;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    width: auto;
  }
  .container-img-ai {
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
    /*animation: floating 3s ease-in-out infinite;*/
    /*
    filter: drop-shadow(5px 2px 5px rgba(0, 0, 0, 0.3));
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
    */
  }

  /**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
  @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
      transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
      transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  }

  /**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
  @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
      transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
      transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }

  /**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes floating {
    0% {
      filter: brightness(1);
      transform: translatey(0px);
    }
    50% {
      filter: brightness(1.2);
      transform: translatey(-10px);
    }
    100% {
      filter: brightness(1);
      transform: translatey(0px);
    }
  }

  @keyframes coloreado {
    0% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(90deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }

  .section-img-div {
    position: relative;
  }
  section.wp-home {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  section.wp-home div.certificate {
    position: initial;
    width: 100%;
    padding: 1em;
  }
  .bg-shadow {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  }
  @keyframes shadowAnimated {
    0% {
      box-shadow: none;
    }
    10% {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    }
    90% {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    }
    100% {
      box-shadow: none;
    }
  }
  .bg-home {
    background: #149caa;
    height: 60rem;
    position: relative;
    z-index: 500;
  }
  a.btn.primary-btn {
    font-size: 2.2rem !important;
  }

  .logo {
    width: 44rem;
  }

  .grid-home {
    @apply grid-cols-2;
  }

  .blocks {
    padding-top: 3rem;
    width: 100%;
  }

  .block-1 {
    padding-left: 6.7rem;
  }

  .title {
    color: #ffffff;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 4.2rem;
    line-height: 3.8rem;
    margin-top: 7.6rem;
    padding-left: 1rem;
  }

  .content {
    color: #ffffff;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    line-height: 4rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding-left: 1rem;
    width: 55rem;
  }

  .desktop {
    position: absolute;
    top: 2rem;
    width: 100rem;
    height: 80rem;
    border-radius: 1.5rem 0 0 1.5rem;
    overflow: hidden;
  }

  .btn {
    font-size: 2rem !important;
    font-weight: 400;
    padding: 1.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-top: 3rem;
    margin-left: 1rem;
  }

  .certificate {
    padding: 1rem;
    font-family: Rubik;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    position: relative;
    top: 2rem;
    text-align: right;
    width: 90%;
  }
  .certificate > div {
    z-index: 10;
    position: absolute;
    bottom: 0.5em;
    text-align: right;
    width: 90vw;
  }

  .certificate-sm {
    display: none;
  }

  a {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    max-width: 50%;
  }

  .controls {
    display: flex;
    gap: 1em;
  }
  .controls a {
    margin: 0;
  }

  .blocks.grid.grid-home {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  @media only screen and (min-width: 1024px) {
    #btn-mobile-home-login {
      display: none;
    }
  }

  @media only screen and (min-width: 1758px) {
    .desktop {
      right: 0px;
      top: 4rem;
      width: 100rem;
    }

    .certificate {
      top: -4rem;
      font-size: 3rem;
    }
  }

  @media only screen and (max-width: 1757px) {
    .certificate {
      font-size: 3rem;
      line-height: 0;
      position: relative;
      top: 0rem;
    }
  }

  @media only screen and (min-width: 1281px) and (max-width: 1679px) {
    .bg-home {
      background: #149caa;
      height: 48rem;
      position: relative;
      z-index: 1;
      /* z-index: 99999; */
    }

    .desktop {
      right: 0;
      top: 2rem;
    }

    .certificate {
      font-size: 3rem;
      line-height: 0;
      position: relative;
      top: 4rem;
    }
  }

  @media only screen and (max-width: 1628px) {
    .certificate {
      font-size: 2.8rem;
      line-height: 0;
      position: relative;
      top: 3rem;
      right: 0rem;
    }
  }

  @media only screen and (max-width: 1518) {
    .certificate {
      font-size: 3rem;
      line-height: 0;
      position: relative;
      top: -4rem;
    }
  }

  @media only screen and (min-width: 1200px) and (max-width: 1281px) {
    .bg-home {
      background: #149caa;
      height: 48rem;
      position: relative;
      z-index: 500; /* 99999 */
    }

    .desktop {
      right: 0;
      top: 2rem;
      width: 90rem;
    }

    .certificate {
      font-size: 2.8rem;
      line-height: 0;
      position: relative;
      top: 4rem;
    }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .bg-home {
      background: #149caa;
      height: 48rem;
      position: relative;
      z-index: 500; /* 99999 */
    }

    .desktop {
      right: 0;
      top: 2rem;
      width: 105rem;
      height: 85rem;
    }

    .certificate {
      font-size: 2.5rem;
      line-height: 0;
      position: relative;
      top: 9rem;
    }
  }

  @media only screen (max-width: 1114px) {
    .certificate {
      font-size: 2.5rem;
      line-height: 0;
      position: relative;
      top: 9rem;
    }
  }

  @media only screen and (min-width: 855px) and (max-width: 1024px) {
    .bg-home {
      height: 40rem;
    }

    .desktop {
      right: 0;
      top: 2rem;
      width: 80rem;
      height: 65rem;
    }

    .logo {
      width: 38rem;
    }

    .title {
      font-size: 3.4rem;
    }

    .content {
      font-size: 2.7rem;
    }
    .certificate {
      font-size: 2.5rem;
      line-height: 0;
      position: relative;
      top: 5rem;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .bg-home {
      height: 90rem;
      overflow: hidden;
    }

    .block-1 {
      padding-left: 0;
    }

    .logo {
      margin-left: auto;
      margin-right: auto;
    }

    .title {
      font-size: 3.5rem;
      text-align: center;
    }

    .content {
      font-size: 3rem;
      text-align: center;
      width: 65rem;
      margin-left: auto;
      margin-right: auto;
    }

    .controls {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;
      padding: 0 3em;
    }

    .home-screen {
      position: relative;
      top: 5rem;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      border-radius: 1.5rem;
    }
    .certificate {
      display: none;
    }

    .certificate-sm {
      display: block;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 500;
      text-align: center;
      margin-top: 4rem;
    }
  }

  @media only screen and (min-width: 425px) and (max-width: 767px) {
    .bg-home {
      background: #149caa;
      height: 90rem;
      position: relative;
      z-index: 500; /* 99999 */
      overflow: hidden;
    }
    .block-1 {
      padding-left: 0;
    }

    .logo {
      margin-left: auto;
      margin-right: auto;
    }

    .title {
      font-size: 3.5rem;
      text-align: center;
    }

    .content {
      font-size: 3rem;
      text-align: center;
      width: 65rem;
      margin-left: auto;
      margin-right: auto;
    }

    .controls {
      display: flex;
      justify-content: center;
      padding: 0 4em;
    }

    .home-screen {
      position: relative;
      top: 5rem;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      border-radius: 1.5rem;
    }

    .certificate {
      display: none;
    }

    .certificate-sm {
      display: block;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 500;
      text-align: center;
      margin-top: 4rem;
    }
  }

  @media only screen and (min-width: 425px) and (max-width: 661px) {
    .title {
      font-size: 3.5rem;
    }

    .content {
      font-size: 2.8rem;
    }

    .certificate {
      display: none;
    }
  }

  @media only screen and (max-width: 639px) {
    .desktop {
      display: none;
    }

    .decoration {
      display: none;
    }

    .title {
      font-size: 3.5rem;
    }

    .content {
      font-size: 2.8rem;
    }

    .grid-home {
      grid-template-columns: none;
    }

    .certificate {
      display: none;
    }
  }

  @media only screen and (max-width: 606px) {
    .bg-home {
      height: 85rem;
    }
  }

  @media only screen and (max-width: 562px) {
    .title {
      font-size: 3.2rem;
    }

    .content {
      font-size: 2.8rem;
    }

    .certificate {
      display: none;
    }
  }

  @media only screen and (max-width: 519px) {
    .bg-home {
      height: 82rem;
    }

    .title {
      font-size: 3.4rem;
    }

    .content {
      font-size: 2.8rem;
    }

    .logo {
      width: 38rem;
    }

    .certificate {
      display: none;
    }
  }

  @media only screen and (max-width: 500px) {
    .bg-home {
      padding-left: 2rem;
      padding-right: 5rem;
    }

    .logo {
      width: 38rem;
    }

    .btn {
      display: block;
      width: 100%;
      margin-right: 0;
      padding: 2.5rem;
      text-align: center;
    }

    .controls {
      width: 100%;
      justify-content: center;
      gap: 1em;
    }

    .home-screen {
      width: 100%;
    }

    .certificate {
      display: none;
    }
  }

  @media only screen and (max-width: 477px) {
    .bg-home {
      padding-left: 3rem;
      padding-right: 2rem;
    }

    .block-1 {
      width: 98%;
    }

    .title {
      font-size: 3.2rem;
      width: 95%;
    }

    .content {
      font-size: 2.8rem;
      width: 98%;
    }

    .certificate {
      display: none;
    }
  }

  @media only screen and (max-width: 450px) {
    .title {
      font-size: 3.2rem;
      width: 100%;
    }

    .content {
      font-size: 2.8rem;
      width: 100%;
    }

    .btn {
      display: block;
      width: 100%;
      margin-right: 0;
      padding: 2.5rem;
      text-align: center;
    }

    .certificate {
      display: none;
    }
  }

  @media only screen and (max-width: 424px) {
    .bg-home {
      overflow: hidden;
      height: 90rem;
      padding: 0 1em;
    }

    .block-1 {
      width: 100%;
      padding: 0;
    }

    .title {
      font-size: 3.5rem;
      text-align: center;
    }

    .content {
      font-size: 2.8rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .logo {
      margin-left: auto;
      margin-right: auto;
    }

    .home-screen {
      position: relative;
      top: 5rem;
      width: 97%;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      border-radius: 1.5rem;
    }

    .btn {
      font-size: 2.8rem !important;
    }

    .certificate {
      display: none;
    }

    .certificate-sm {
      display: block;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 500;
      text-align: center;
      margin-top: 4rem;
    }
  }

  @media only screen and (max-width: 375px) {
    .bg-home {
      height: 85rem;
      padding-left: 2rem;
      padding-right: 4rem;
    }

    .btn {
      font-size: 2.5rem !important;
    }

    .home-screen {
      width: 100%;
    }

    .block-1 {
      width: 100%;
    }

    .logo {
      width: 30rem;
    }

    .title {
      font-size: 3rem;
      text-align: center;
    }

    .content {
      font-size: 2.5rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .certificate {
      display: none;
    }
  }

  @media only screen and (max-width: 321px) {
    .bg-home {
      height: 92rem;
      padding-left: 1rem;
      padding-right: 1.5em;
    }

    .title {
      font-size: 3rem;
    }

    .content {
      font-size: 2.5rem;
    }

    .certificate {
      display: none;
    }

    .certificate-sm {
      display: block;
      font-size: 2rem;
      font-style: normal;
      font-weight: 500;
      text-align: center;
      margin-top: 2rem;
    }
  }

  /*
 * Mobil styles
 */


  @media screen and (max-width: 1100px) {
    .login-section .logo {
      width: 65%;
    }

    .video-preview,
    .btn-preview-video-ai {
      width: 100%;
      max-width: 100%;
    }

    div.blocks.grid.grid-home p.title {
      margin: 0px;
      padding: 0px;
    }
    div.ai-anima {
      margin: 0px;
      padding: 0px;
      width: 100%;
      position: absolute;
      bottom: 0.9em;
      font-size: 0.9em;
    }
    body > section.wp-home > div.bg-home > div.ai-anima > span.slogan-ai {
      font-size: 1.5em;
      font-weight: 400;
    }
  }
</style>
