---
const appUser: string = import.meta.env.APP_URL;
---

<div id="pricing" class="wp-pricing">
  <div class="wp-title">
    Consulta los precios y elige el plan que mejor se adapte a tu práctica
    médica
  </div>
  <div class="pricing-container">
    <div class="grid grid-pricing">
      <div class="item-pricing item col-span-1">
        <div class="pricing-box">
          <div class="header">
            <div class="grid grid-cols-2">
              <div class="col-span-1 plan">Gratis</div>
              <div class="col-span-1 price">
                <div class="free-plan amount">0</div>
                <p>Al mes por doctor</p>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">
                <img
                  class="pricing-infinite"
                  src="/webpage/wp-infinite.svg"
                  alt="Infinite"
                />
              </div>
              <div class="col-span-6">Todas las funcionalidades</div>
            </div>
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">1</div>
              <div class="col-span-6">Consultorio</div>
            </div>
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">1</div>
              <div class="col-span-6">Asistente por consultorio</div>
            </div>
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">50</div>
              <div class="col-span-6">Pacientes máximo</div>
            </div>
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">250</div>
              <div class="col-span-6">Consultas</div>
            </div>
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">250MB</div>
              <div class="col-span-6">Almacenamiento de estudios</div>
            </div>
            <p class="message">No requiere tarjeta de crédito</p>
            <div class="button">
              <a href={ appUser + "/users/sign_up" } class="primary-btn">
                Seleccionar plan
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="item-pricing item col-span-1">
        <div class="pricing-box">
          <div class="header">
            <div class="grid grid-cols-2">
              <div class="col-span-1 plan">Estándar</div>
              <div class="col-span-1 price">
                <div class="standard-plan amount">0</div>
                <p>Al mes por doctor</p>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">
                <img
                  class="pricing-infinite"
                  src="/webpage/wp-infinite.svg"
                  alt="Infinite"
                />
              </div>
              <div class="col-span-6">Todas las funcionalidades</div>
            </div>
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">2</div>
              <div class="col-span-6">Consultorios</div>
            </div>
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">2</div>
              <div class="col-span-6">Asistentes por consultorio</div>
            </div>
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">500</div>
              <div class="col-span-6">Pacientes máximo</div>
            </div>
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">
                <img
                  class="pricing-infinite"
                  src="/webpage/wp-infinite.svg"
                  alt="Infinite"
                />
              </div>
              <div class="col-span-6">Consultas ilimitadas</div>
            </div>
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">
                <img
                  class="pricing-infinite"
                  src="/webpage/wp-infinite.svg"
                  alt="Infinite"
                />
              </div>
              <div class="col-span-6">
                Almacenamiento de estudios ilimitados
              </div>
            </div>
            <!-- <div class="button">
              <a href="/" class="primary-btn">Seleccionar plan</a>
            </div> -->
            <img class="pricing-certificates" src="/webpage/price-logos.svg" alt="Metodos de pago" />
            <p class="message">
              *Precios incluyen IVA. Contratación mes a mes. Pago con tarjeta
              de crédito Visa, Mastercard o American Express.
            </p>
          </div>
        </div>
      </div>
      <div class="item-pricing item col-span-1">
        <div class="pricing-box">
          <div class="header">
            <div class="grid grid-cols-2">
              <div class="col-span-1 plan">Premium</div>
              <div class="col-span-1 price">
                <div class="premium-plan amount">0</div>
                <p>Al mes por doctor</p>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">
                <img
                  class="pricing-infinite"
                  src="/webpage/wp-infinite.svg"
                  alt="Infinite"
                />
              </div>
              <div class="col-span-6">Todas las funcionalidades</div>
            </div>
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">4</div>
              <div class="col-span-6">Consultorios</div>
            </div>
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">
                <img
                  class="pricing-infinite"
                  src="/webpage/wp-infinite.svg"
                />
              </div>
              <div class="col-span-6">Asistentes por consultorio</div>
            </div>
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">
                <img
                  class="pricing-infinite"
                  src="/webpage/wp-infinite.svg"
                  alt="Infinite"
                />
              </div>
              <div class="col-span-6">Pacientes ilimitados</div>
            </div>
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">
                <img
                  class="pricing-infinite"
                  src="/webpage/wp-infinite.svg"
                  alt="Infinite"
                />
              </div>
              <div class="col-span-6">Consultas ilimitadas</div>
            </div>
            <div class="item grid grid-cols-8">
              <div class="col-span-2 quantity">
                <img
                  class="pricing-infinite"
                  src="/webpage/wp-infinite.svg"
                  alt="Infinite"
                />
              </div>
              <div class="col-span-6">
                Almacenamiento de estudios ilimitados
              </div>
            </div>
            <!-- <div class="button">
              <a href="/" class="primary-btn">Seleccionar plan</a>
            </div> -->
            <img class="pricing-certificates" src="/webpage/price-logos.svg" alt="Metodos de pago" />
            <p class="message">
              *Precios incluyen IVA. Contratación mes a mes. Pago con tarjeta
              de crédito Visa, Mastercard o American Express.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="certificates" src="/webpage/certificates.svg" alt="Certificados" />
</div>

<script>
  const plans = {
  mx: {
    free: '$ 00.0 MXN',
    standard: '$ 1160 MXN*',
    premium: '$ 1950 MXN*',
  },
  co: {
    free: '$ 0,00 COP',
    standard: '$ 224.900 COP*',
    premium: '$ 454.900 COP*',
  },
  ve: {
    free: '$0.00 USD',
    standard: '$ 49 USD*',
    premium: '$ 99 USD*',
  },
};

async function getCountry(): Promise<string> {
  const env = process.env.NODE_ENV;
  let country = 'mx';

  if (env !== 'development') {
    await fetch('https://api.ipify.org?format=json')
    .then((x) => x.json())
        .then(async ({ ip }) => {
          const response = await fetch(
            `https://api.ipgeolocation.io/ipgeo?apiKey=119d6b9c49c94a82958eadcb574a82a5&ip=${ip}`
          );
          const data = await response.json();
          country = data.country_code2.toLowerCase();
        })
  }
  return country;
}

async function getPrice(): Promise<any> {
  const country = await getCountry();
  console.log(country);
  if (country === 'co') {
    return plans.co
  } else if (country === 'mx') {
    return plans.mx
  } else {
    return plans.ve
  }
}

const price = await getPrice();
document.getElementsByClassName('free-plan')[0].innerHTML = price.free;
document.getElementsByClassName('standard-plan')[0].innerHTML = price.standard;
document.getElementsByClassName('premium-plan')[0].innerHTML = price.premium;
</script>

<style>
.wp-pricing {
  padding: 10rem;
  padding-top: 15rem;
  padding-bottom: 10rem;
}

.wp-pricing .grid-pricing {
  @apply grid-cols-3;
}

.wp-pricing .pricing-container {
  padding-left: 30rem;
  padding-right: 30rem;
  margin-top: 10rem;
}

.wp-pricing .item {
  padding-left: 4rem;
  padding-right: 4rem;
}

.wp-pricing .pricing-box {
  background: #FFFFFF;
  box-shadow: 0px 20px 34px rgba(0, 0, 0, 0.17);
  border-radius: 28px;
  height: 60rem;
}

.wp-pricing .pricing-infinite {
  width: 4rem;
  margin-left: auto;
}

.wp-pricing .pricing-box .header {
  background: #009BA9;
  border-radius: 2.8rem 2.8rem 0 0;
  height: 90px;
  padding: 2rem;
  padding-top: 4rem;
}

.wp-pricing .pricing-box .plan {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 2.9rem;
  color: #FFFFFF;
}

.wp-pricing .pricing-box .price {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 1.7rem;
  color: #FFFFFF;
  text-align: center;
}

.wp-pricing .pricing-box .price .amount {
  @apply flex;
  @apply justify-center;
  @apply items-center;
  background: #ffffff;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.2rem;
  text-align: right;
  color: #009BA9;
  border-radius: .4rem;
  padding: .5rem;
  margin-top: -.5rem;
  margin-bottom: .5rem;
}

.wp-pricing .pricing-box .body {
  padding-top: 3rem;
  /* padding-bottom: 3rem; */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #003236;
}

.wp-pricing .pricing-box .item {
  margin-bottom: 3rem;
  padding-right: 1rem;
}

.wp-pricing .pricing-box .quantity {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.2rem;
  color: #003236;
  text-align: right;
  padding-right: 2rem;
}

.wp-pricing .pricing-box .button {
  @apply flex;
  @apply justify-center;
  margin-top: 1rem;
}

.wp-pricing .pricing-box .primary-btn {
  padding: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
  font-size: 1.6rem;
}

.wp-pricing .message {
  padding: 1rem;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
  color: #ABB4BD;
}

.wp-contact {
  background: #009BA9;
  height: 72.2rem;
}

.wp-contact .map {
  position: absolute;
  right: 0;
  height: 69.2rem;
}

.pricing-certificates {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.certificates {
  margin-top: 15rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (max-width: 1650px) {
  .wp-pricing .pricing-container {
    padding-left: 20rem;
    padding-right: 20rem;
    margin-top: 10rem;
  }
}

@media (max-width: 1490px) {
  .wp-pricing .pricing-container {
    padding-left: 15rem;
    padding-right: 15rem;
    margin-top: 10rem;
  }
}

@media (max-width: 1350px) {
  .wp-pricing .pricing-container {
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 10rem;
  }
}

@media (max-width: 1030px) {
  .wp-pricing {
    padding: 5rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
  .wp-pricing .pricing-container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 10rem;
  }

  .item{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

@media (max-width: 900px) {
  .grid-pricing{
      grid-template-columns: repeat(1,minmax(0,1fr)) !important;
  }

  .item-pricing {
    padding-left: 20rem !important;
    padding-right: 20rem !important;
    margin-bottom: 5rem;
  }

  .pricing-box {
    height: 70rem;
  }

  .certificates {
    margin-top: 5rem;
  }
}

@media (max-width: 600px) {
  .item-pricing {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
    margin-bottom: 5rem;
  }

  .certificates {
    display: none;
  }
}

@media (max-width: 490px) {
  .item-pricing {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 5rem;
  }
}

@media (max-width: 350px) {
  .item{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
</style>