---
---
<section class="wp-quotes">
  <h1 class="title">Qué dicen nuestros clientes</h1>
  <div class="splide" id="quotes" role="group" aria-label="Quotes carousel">
    <div class="splide__arrows">
      <button class="splide__arrow splide__arrow--prev">
        <svg id='Chevron_Left_24' width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
          <g transform="matrix(0.83 0 0 0.83 12 12)" >
          <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: #ffffff; fill-rule: nonzero; opacity: 1;" transform=" translate(-13.5, -15)" d="M 17 3 L 19 3 C 19.386 3 19.738 3.223 19.904 3.572 C 20.07 3.9210000000000003 20.019 4.334 19.774 4.634 L 11.292 15 L 19.774 25.367 C 20.019000000000002 25.666 20.069000000000003 26.079 19.904 26.429000000000002 C 19.738999999999997 26.779000000000003 19.386 27 19 27 L 17 27 C 16.7 27 16.416 26.865 16.226 26.633 L 7.225999999999999 15.633 C 6.924999999999999 15.264 6.924999999999999 14.735 7.225999999999999 14.366 L 16.226 3.3659999999999997 C 16.416 3.135 16.7 3 17 3 z" stroke-linecap="round" />
          </g>
        </svg>
      </button>
      <button class="splide__arrow splide__arrow--next">
        <svg id='Chevron_Right_24' width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
          <g transform="matrix(0.83 0 0 0.83 12 12)" >
          <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: #ffffff; fill-rule: nonzero; opacity: 1;" transform=" translate(-15.5, -15)" d="M 12 27 L 10 27 C 9.614 27 9.262 26.777 9.096 26.428 C 8.93 26.079 8.981 25.666 9.226 25.366 L 17.708 15 L 9.226 4.633 C 8.981000000000002 4.334 8.931000000000001 3.9210000000000003 9.096 3.5709999999999997 C 9.261 3.220999999999999 9.614 3 10 3 L 12 3 C 12.3 3 12.584 3.135 12.774000000000001 3.367 L 21.774 14.367 C 22.075 14.736 22.075 15.265 21.774 15.634 L 12.774000000000001 26.634 C 12.584 26.865 12.3 27 12 27 z" stroke-linecap="round" />
          </g>
          </svg>
      </button>
    </div>
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="item">
            <div>
              "Lo que más me ha gustado es la posibilidad de personalizar mi expediente y digitalizar todos mis antiguos formatos en papel. Ahora soy 100% digital!"
              <div class="client">Abril Camacho Cervantes - Gineco-obstetra</div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="item">
            <div>
              "Amigable y fácil de utilizar, la función de control de pagos permite un tener un récord preciso y al día sobre la parte monetaria. Aplicación 100% recomendada!"
              <div class="client">Alexandra Nelson - Psicóloga</div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="item">
            <div>
              "Todo bien, excelente servicio y muy buena plataforma"
              <div class="client">Vero Rubio - Enfermera </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="item">
            <div>
              "Como asistente Neogaleno ha hecho mi trabajo más fácil. Puedo programar citas, confirmar pacientes de forma automatizada y bajar en Excel la información para mi contador"
              <div class="client">Amelia Rodríguez - Asistente </div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="item">
            <div>
              "El soporte al cliente es excepcional. Siempre están dispuestos a ayudar y resolver cualquier inquietud de manera rápida"
              <div class="client">José Levy - Pediatra</div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="item">
            <div>
              "Pasar de expedientes en papel a digital realmente me ahorra tiempo, en especial enviar las recetas por email con mi firma digital en automático"
              <div class="client">Alejandra Morales - Ginecóloga</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<script>
import Splide from '@splidejs/splide';

var splide = new Splide( '#quotes', {
  type   : 'loop',
  perPage: 3,
  perMove: 1,
  focus  : 'center',
  autoplay: true,
  interval: 5000,
  rewind : true,
  pagination: false,
  breakpoints: {
		1025: {
			perPage: 2,
      pagination: false,
		},
    770: {
			perPage: 1,
      pagination: false,
		},
    380: {
      type  : 'fade',
			perPage: 1,
      arrows: false,
      pagination: false,
		},
  }
});

splide.mount();
</script>

<style>
  .splide__slide,
  .splide__list,
  .splide__slide.is-visible.is-prev,
  .splide__slide.is-active,
  .splide__slide.is-visible.is-next{
    transition: all 1.5s !important;
  }

  .splide__slide.is-prev{
    animation-name: reducir;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
  }

  .splide__slide.is-active{
    animation-name: agrandar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  .splide__slide.is-active div.item{
    animation-name: cambioColor;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

/* The animation code */
@keyframes agrandar {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes reducir {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes cambioColor {
    0% {
      background-color: #fff;
    }
    100% {
      background-color: beige;
  }
}

  .wp-quotes {
    background: #009BA9;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 4.2rem;
    line-height: 3.8rem;
    color: #ffffff;
    text-align: center;
    padding-bottom: 5rem;
  }

  .splide {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .splide__slide {
    padding: 4rem;
  }

  /*
    padding-left: 7rem;
    padding-right: 7rem;
    width: 100%;
   */
  .item {
    background: #ffffff;
    padding: 2rem 7rem;
    min-height: 25rem;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
  }

  .item > div{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;    
    padding-top: 1em;
  }
  .splide__slide.is-active div.item, 
  li.splide__slide > div,
  div.item{
    background-image: url(/webpage/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 3% 3%;
    background-size: 7%;
    padding: 2em;
    position: relative;
    max-height: 200px;
  }
  div.item::after{
    content: '';
    background-image: url(/webpage/bg-pattern-quotation2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 3%;
    right: 3%;
  }

  .splide__arrow svg {
    fill: #000000;
    height: 5.2em !important;
    width: 5.2em !important;
  }
  
  /* transform: scale(1.1); */
  .splide__slide.is-active .item {
    position: relative;
    top: -5rem;
    height: 30rem;
    background: #ececec;
    z-index: 2;
  }

  .splide__track {
    padding-top: 5rem;
  }

  /* margin-top: 3rem; */
  .client {
    padding: 1.5rem 0;
    color: #009BA9;
  }

  .splide__arrows {
    position: relative;
  }

  .splide__arrow {
    background: none;
    scale: 2;
  }

  .splide__arrow--prev {
    position: absolute;
    rotate: 180deg;
    top: 18rem;
    left: -6rem;
  }

  .splide__arrow--next {
    position: absolute;
    top: 25rem;
    right: -6rem;
  }

  @media (max-width: 1380px) {
    .wp-quotes{
      height: auto;
    }
    .item {
      height: 35rem;
    }

    .splide__slide.is-active .item {
      height: 45rem;
    }
  }

  @media (max-width: 1025px) {
    .wp-quotes{
      height: auto;
    }
    .item {
      height: 35rem;
    }

    .splide__slide.is-active .item {
      height: 45rem;
    }
  }

  @media (max-width: 500px) {
    .splide__arrow--prev {
      position: absolute;
      rotate: 180deg;
      top: 21rem;
      left: -3rem;
    }

    .splide__arrow--next {
      position: absolute;
      top: 28rem;
      right: -3rem;
    }
  }

  @media (max-width: 380px) {
    .splide {
      margin-left: none;
      margin-right: none;
      width: 100%;
    }
  }
</style>