---
---
<section class="wp-quotes">
  <h1 class="title">Qué dicen nuestros clientes</h1>
  <div class="splide" id="quotes" role="group" aria-label="Quotes carousel">
    <div class="splide__arrows">
      <button class="splide__arrow splide__arrow--prev">
        <svg id='Chevron_Left_24' width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
          <g transform="matrix(0.83 0 0 0.83 12 12)" >
          <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: #ffffff; fill-rule: nonzero; opacity: 1;" transform=" translate(-13.5, -15)" d="M 17 3 L 19 3 C 19.386 3 19.738 3.223 19.904 3.572 C 20.07 3.9210000000000003 20.019 4.334 19.774 4.634 L 11.292 15 L 19.774 25.367 C 20.019000000000002 25.666 20.069000000000003 26.079 19.904 26.429000000000002 C 19.738999999999997 26.779000000000003 19.386 27 19 27 L 17 27 C 16.7 27 16.416 26.865 16.226 26.633 L 7.225999999999999 15.633 C 6.924999999999999 15.264 6.924999999999999 14.735 7.225999999999999 14.366 L 16.226 3.3659999999999997 C 16.416 3.135 16.7 3 17 3 z" stroke-linecap="round" />
          </g>
        </svg>
      </button>
      <button class="splide__arrow splide__arrow--next">
        <svg id='Chevron_Right_24' width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
          <g transform="matrix(0.83 0 0 0.83 12 12)" >
          <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: #ffffff; fill-rule: nonzero; opacity: 1;" transform=" translate(-15.5, -15)" d="M 12 27 L 10 27 C 9.614 27 9.262 26.777 9.096 26.428 C 8.93 26.079 8.981 25.666 9.226 25.366 L 17.708 15 L 9.226 4.633 C 8.981000000000002 4.334 8.931000000000001 3.9210000000000003 9.096 3.5709999999999997 C 9.261 3.220999999999999 9.614 3 10 3 L 12 3 C 12.3 3 12.584 3.135 12.774000000000001 3.367 L 21.774 14.367 C 22.075 14.736 22.075 15.265 21.774 15.634 L 12.774000000000001 26.634 C 12.584 26.865 12.3 27 12 27 z" stroke-linecap="round" />
          </g>
          </svg>
      </button>
    </div>
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="item">
            <div>
              “La función de programación de citas de Neogaleno ha simplificado enormemente la gestión de mi agenda. Puedo programar citas con facilidad, enviar recordatorios automáticos a mis pacientes”
              <div class="client">Laila Gutiérrez - Cardióloga</div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="item">
            <div>
              “La función de programación de citas de Neogaleno ha simplificado enormemente la gestión de mi agenda. Puedo programar citas con facilidad, enviar recordatorios automáticos a mis pacientes”
              <div class="client">Laila Gutiérrez - Cardióloga</div>
            </div>
          </div>
        </li>
        <li class="splide__slide">
          <div class="item">
            <div>
              “La función de programación de citas de Neogaleno ha simplificado enormemente la gestión de mi agenda. Puedo programar citas con facilidad, enviar recordatorios automáticos a mis pacientes”
              <div class="client">Laila Gutiérrez - Cardióloga</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<script>
import Splide from '@splidejs/splide';

var splide = new Splide( '#quotes', {
  type   : 'loop',
  perPage: 3,
  perMove: 1,
  focus  : 'center',
  autoplay: true,
  interval: 5000,
  rewind : true,
  breakpoints: {
		1025: {
			perPage: 2,
      pagination: false,
		},
    770: {
			perPage: 1,
      pagination: false,
		},
    380: {
      type  : 'fade',
			perPage: 1,
      arrows: false,
      pagination: false,
		},
  }
});

splide.mount();
</script>

<style>
  .wp-quotes {
    background: #009BA9;
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  .title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 4.2rem;
    line-height: 3.8rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10rem;
  }

  .splide {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .splide__slide {
    padding: 4rem;
  }

  .item {
    background: #ffffff;
    padding: 2rem;
    padding-left: 7rem;
    padding-right: 7rem;
    width: 100%;
    height: 30rem;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .splide__arrow svg {
    fill: #000000;
    height: 5.2em !important;
    width: 5.2em !important;
  }

  .splide__slide.is-active .item {
    position: relative;
    top: -5rem;
    height: 40rem;
    background: #ececec;
    transform: scale(1.1);
    z-index: 2;
  }

  .splide__track {
    padding-top: 5rem;
  }

  .client {
    margin-top: 3rem;
    color: #009BA9;
  }

  .splide__arrows {
    position: relative;
  }

  .splide__arrow {
    background: none;
    scale: 2;
  }

  .splide__arrow--prev {
    position: absolute;
    rotate: 180deg;
    top: 18rem;
    left: -6rem;
  }

  .splide__arrow--next {
    position: absolute;
    top: 25rem;
    right: -6rem;
  }

  @media (max-width: 1380px) {
    .item {
      height: 35rem;
    }

    .splide__slide.is-active .item {
      height: 45rem;
    }
  }

  @media (max-width: 1025px) {
    .item {
      height: 35rem;
    }

    .splide__slide.is-active .item {
      height: 45rem;
    }
  }

  @media (max-width: 500px) {
    .splide__arrow--prev {
      position: absolute;
      rotate: 180deg;
      top: 21rem;
      left: -3rem;
    }

    .splide__arrow--next {
      position: absolute;
      top: 28rem;
      right: -3rem;
    }
  }

  @media (max-width: 380px) {
    .splide {
      margin-left: none;
      margin-right: none;
      width: 100%;
    }
  }
</style>