html {
  padding: 0;
  margin: 0;
  font-size: 9px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #003236;
}

@media only screen and (min-width: 1758px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 8.5px;
  }
}


@media only screen and (min-width: 1680px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 8.5px;
  }
}

@media only screen and (min-width: 1570px) and (max-width: 1758px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 8px;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1570px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 7.5px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1281px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 7px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 6px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 7px;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 7px;
  }
}

@media only screen and (max-width: 424px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 7px;
  }
}

.mobile {
  display: none;
}

.wp-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 4.2rem;
  line-height: 3.8rem;
  color: #003236;
  text-align: center;
  margin-bottom: 6.5rem;
}

.wp-contact .title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 4.2rem;
  line-height: 3.8rem;
  letter-spacing: .1rem;
  color: #FFFBF7;
}

.wp-contact .contact-container {
  padding-top: 9.8rem;
  padding-left: 10.4rem;
}


.wp-contact .items {
  margin-top: 10rem;
  width: 70%;
  z-index: 9;
}

.wp-contact .item {
  background: #ffffff;
  border-radius: 2rem;
  width: 32.8rem;
  height: 18rem;
  margin-bottom: 6rem;
}

.wp-contact .flags {
  @apply flex;
  @apply justify-center;
  padding: 2rem;
}

.wp-contact .flags img {
  border-radius: 1rem;
  width: 9rem;
}

.wp-contact .info {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;
  color: #009BA9;
  margin-bottom: .5rem;
}

.wp-contact .info-2 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;
  color: #003236;
  margin-bottom: .5rem;
  padding: 2rem;
}

.wp-contact .link {
  text-decoration-line: underline;
}

.wp-contact .icon {
  @apply flex;
  @apply justify-center;
  @apply items-center;
  width: 2rem;
  margin-left: 3rem;
}

.wp-contact .grid-contact {
  @apply grid-cols-3;
}

.wp-footer {
  background: #ffffff;
  padding: 3rem;
  padding-top: 4rem;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  text-align: center;
  color: #009BA9;
}

.wp-footer .left {
  text-align: left;
}

.wp-footer .right {
  text-align: right;
}

.wp-footer img {
  float: right;
  position: relative;
  left: -21rem;
  width: 3rem;
}

.more-btn {
  background: #FFFFFF;
  box-shadow: 0 0.2rem 0.8rem rgb(0 0 0 / 16%);
  width: 100%;
  border-radius: 1.7rem;
  padding: 2.4rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  color: #009BA9;
}