html {
  padding: 0;
  margin: 0;
  font-size: 9px;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #003236;
}

@media only screen and (min-width: 1758px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 8.5px;
  }
}


@media only screen and (min-width: 1680px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 8.5px;
  }
}

@media only screen and (min-width: 1570px) and (max-width: 1758px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 8px;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1570px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 7.5px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1281px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 7px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 6px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 7px;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 7px;
  }
}

@media only screen and (max-width: 424px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 7px;
  }
}

.mobile {
  display: none;
}

.wp-title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 4.2rem;
  line-height: 3.8rem;
  color: #003236;
  text-align: center;
  margin-bottom: 6.5rem;
}
