---
import Home from "../components/LandingPage/Home.astro";
import About from "../components/LandingPage/About.astro";
import Header from "../components/LandingPage/Header.astro";
import Features from "../components/LandingPage/Features.astro";
import QuotesCarousel from "../components/ui/carousel/QuotesCarousel.astro";
import FormsFeatures from "../components/LandingPage/FormsFeatures.astro";
import Pricing from "../components/LandingPage/Pricing.astro";
import Contact from "../components/LandingPage/Contact.astro";
import Footer from "../components/LandingPage/Footer.astro";

import "../styles/global.css";
import "../styles/buttons.css";

const mixpanelToken: string = import.meta.env.MIXPANEL_TOKEN;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css	"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <!-- JavaScript -->
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"
    ></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"
    ></script>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Neogaleno mejor Software Médico con IA | Software de gestión médica con IA para optimizar la administración de consultorios">
    <meta property="og:description" content="Software de gestión médica con IA para optimizar la administración de consultorios, facilitar el acceso móvil a historiales y garantizar la seguridad de los datos del paciente.">
    <meta property="og:image" content="https://www.neogaleno.com/web.jpg">
    <meta property="og:url" content="https://www.neogaleno.com">
    <meta property="og:type" content="website">
    <title>Neogaleno | Software de gestión médica con IA para optimizar la administración de consultorios, Clínicas y Profesionales Independientes de la Salud</title>
    <meta name="description" content="Optimice su consultorio con Neogaleno plataforma médica de vanguardia. Gestión de pacientes, resúmenes con IA, acceso móvil y seguridad de alto nivel cumpliendo con mas altos estandares y normativas. ¡Pruebe la demo!">
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="“https://www.googletagmanager.com/gtag/js?id=AW-11039336468”"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "AW-11039336468");
    </script>
  </head>
  <body class="webpage">
    <Header />
    <Home />
    <About />
    <Features />
    <QuotesCarousel />
    <FormsFeatures />
    <Pricing />
    <Contact />
    <Footer />
    <div id="mixpanel-token" data-mixpanel-token={mixpanelToken}></div>
    <script src="../scripts/mixpanel.js"></script>
    <!-- Start of HubSpot Embed Code -->
    <script
      type="text/javascript"
      id="hs-script-loader"
      async
      defer
      src="//js-na1.hs-scripts.com/44800730.js"
      SameSite="None;"
      Secure></script>
    <!-- End of HubSpot Embed Code -->
    <!-- JSON-LD for SEO -->
     <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "SoftwareApplication",
        "name": "Neogaleno",
        "applicationCategory": "MedicalApplication",
        "operatingSystem": "Web-based, iOS, Android",
        "description": "Software de gestión médica con IA para optimizar la administración de consultorios, facilitar el acceso móvil a historiales y garantizar la seguridad de los datos del paciente.",
        "offers": {
          "@type": "Offer",
          "price": "Consultar",
          "priceCurrency": "USD"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "4.9",
          "reviewCount": "85"
        },
        "publisher": {
          "@type": "Organization",
          "name": "Neogaleno"
        }
      }
      </script>
  </body>
</html>

<script></script>
