---
import Home from '../components/LandingPage/Home.astro'
import About from '../components/LandingPage/About.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Neogaleno</title>
	</head>
	<body>
		<Home />
		<About />
	</body>
</html>
