---
const appUser2: string = import.meta.env.APP_URL;
---

<a data-demo-button href={appUser2 + '/demo/booking'} class='mr-10 white-btn'>
  Probar demo</a
>

<div data-ml-modal id='modal-2'>
  <a href='#!' class='modal-overlay'></a>
  <div class='modal-dialog modal-dialog-lg'>
    <section class='modal-header'>
      <a href='#!' class='modal-close'>&times;</a>
      <h3 class='title-modal'>Importante</h3>
      <!-- Acceso disponible desde ordenadores -->
    </section>
    <div class='modal-content newspaper'>
      <p>
        La experiencia de usuario está optimizada para pantallas más grandes. <br
        />
        Para crear una cuenta o probar el demo, por favor entra a <b
          >www.neogaleno.com</b
        > desde una computadora o tablet.
      </p>
      <!-- 
        Actualmente se requiere acceso desde un ordenador o dispositivos con resoluciones superiores a 1200 x 768 píxeles para una óptima visualización.

        Próximamente estará disponible una versión móvil para una experiencia adaptada a dispositivos portátiles..
       -->
    </div>
  </div>
</div>
<script>
  // Encuentra nuestro componente en la página.
  let button = document.querySelector('[data-demo-button]');
  const t = document.querySelector('[data-ml-modal]');
  if (button) {
    button.addEventListener('click', (evt) => {
      // disponible  capacidad - window.screen.width
      // Visible en momento Actual- window.visualViewport.width
      if (window.visualViewport.width < 1200) {
        Object.defineProperty(evt, 'target', { writable: false, value: t });
        Object.defineProperty(evt, 'data-target', {
          writable: false,
          value: '#modal-2',
        });
        Object.defineProperty(evt, 'href', {
          writable: false,
          value: '#modal-2',
        });
        
        button.href = '#modal-2';
        
    
        // evt.preventDefault();
        // button.click()
      }
    });
  }
</script>

<style>
  .sub-gray {
    color: #00616a;
  }
  a.link {
    cursor: pointer;
    text-decoration: none;
    color: #10383c;
  }

  a.link:hover {
    text-decoration: none;
  }
  a {
    color: #00323c;
    font-size: 2rem !important;
    font-weight: 400;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  [data-ml-modal] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 999;
    width: 0;
    height: 0;
    opacity: 0;
  }
  [data-ml-modal]:target {
    width: auto;
    height: auto;
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  [data-ml-modal]:target .modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  [data-ml-modal] .modal-dialog {
    border-radius: 6px;
    box-shadow:
      0 11px 15px -7px rgba(0, 0, 0, 0.2),
      0 24px 38px 3px rgba(0, 0, 0, 0.14),
      0 9px 46px 8px rgba(0, 0, 0, 0.12);
    position: relative;
    width: 90%;
    max-width: 660px;
    max-height: 70%;
    margin: 10% auto;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
    
  }
  .modal-dialog-lg {
    max-width: 820px !important;
  }

  [data-ml-modal] .modal-dialog > h3 {
    background-color: #eee;
    border-bottom: 1px solid #b3b3b3;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0.8em 56px 0.8em 27px;
    background-color: #009ba9;
    color: #fff;
  }

  [data-ml-modal] .modal-content {
    background: #fff;
    padding: 23px 27px;
  }

  .modal-content p {
    text-indent: 2em;
    padding-top: 0em;
    font-size: 1.5em;
    line-height: 1.5;
  }

  [data-ml-modal] .modal-content {
    max-height: 450px;
    overflow: auto;
    text-align: justify;
  }

  /* 
  position: absolute;
  top: 13px;
  right: 13px; 
  */
  [data-ml-modal] .modal-close {
    color: #0085a6;
    background-color: #fff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: 0;
    padding: 0;
    font-size: 2em !important;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  [data-ml-modal] .modal-close:hover {
    background-color: #0085a6;
    color: #fff;
    cursor: pointer;
  }
  [data-ml-modal] p:first-child,
  [data-ml-modal] p:last-child {
    margin: 0;
  }
  @media (max-width: 767px) {
    [data-ml-modal] .modal-dialog {
      margin: 20% auto;
    }
    [data-demo-button]{
      display: none;
    }
  }
  /* End Modals ------------------------------*/

  /* General*/

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.125em;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    padding: 20px;
  }
  a {
    text-decoration: none;
    outline: 0;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    text-decoration: none;
  }
  .center {
    text-align: center !important;
  }
  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 2px solid transparent;
    white-space: normal;
    padding: 3px 14px;
    font-size: 18px;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .btn-default {
    border-color: #0085a6;
  }

  pre {
    overflow: auto;
    font-size: 1em;
  }
  .modal-header {
    display: flex;
    flex-flow: row;
    width: 100%;
    flex-wrap: nowrap;
    height: 4em;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: #009ba9;
  }
  .modal-header h3 {
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    color: #fff;
  }
</style>
