<a href='#modal-09' class='link'>Aviso de Privacidad</a>

<div data-ml-modal id='modal-09'>
  <a href='#!' class='modal-overlay'></a>
  <div class='modal-dialog modal-dialog-lg'>
    <a href='#!' class='modal-close'>&times;</a>
    <h3 class='title-modal'>AVISO DE PRIVACIDAD</h3>
    <div class='modal-content newspaper'>
      <span class='sub-gray'>Última actualización: 20/11/23</span>
      <p>
        De conformidad con lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares,<b>NEOGALENO S.A DE C.V.</b> pone a su disposición el siguiente aviso de privacidad.
      </p>
      <br />
      <p>
        <b>NEOGALENO S.A DE C.V.</b> es responsable del uso y protección de sus datos personales, en este sentido y atendiendo las obligaciones legales establecidas en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, a través de este instrumento se informa a los titulares de los datos, la información que de ellos se recaba y los fines que se le darán a dicha información. 
      </p>
      <br />
      <p>
        Los datos personales que recabamos de usted serán utilizados para las siguientes finalidades, las cuales son necesarias para concretar nuestra relación con usted, así como para atender los servicios y/o pedidos que solicite:
      </p>
      <br />
      ● Establecer y mantener relaciones comerciales o de servicios.   <br />
      ● Procesar y brindar los servicios que solicite, incluyendo productos y servicios relacionados con tecnología.   <br />
      ● Realizar investigaciones, desarrollo tecnológico y asesoría técnica.   <br />
      ● Importar, exportar, comprar, vender, distribuir y mantener equipos y tecnología.   <br />
      ● Elaborar y dirigir proyectos, así como realizar análisis y estudios para diversas entidades.  <br />
      

      <br />
      <p>
        Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales: 
      </p>
      <br />
      ● Nombre <br />
      ● Edad <br />
      ● Correo <br />
      ● Sexo <br />
      ● Teléfono <br />
      ● Métodos de pago<br /> 
      ● Estado <br />
      ● País de residencia. <br />
      <br />

      <p>
        Además de estos datos personales, se hará uso de los siguientes datos que conforme a la ley son considerados como datos personales sensibles, por lo cual requieren de su autorización expresa y por escrito para hacer uso de ellos. En este sentido, nos comprometemos con usted a no realizar ningún tipo de uso o tratamiento de sus datos personales sensibles, en tanto no se recabe la autorización firmada por escrito o a través de un sistema de firma electrónica en el que usted nos otorgue expresamente el consentimiento para tratar sus siguientes datos personales sensibles: 
      </p>
      <br />
        ● Número de colegiatura médica.<br />
        ● Dirección del consultorio médico.<br />
        ● Número de teléfono del consultorio médico.<br />
        ● Información financiera relacionada con la facturación de servicios médicos.<br />
        ● Datos bancarios o información de cuenta para pagos o transferencias relacionadas con servicios médicos.<br />
        ● Información sobre la especialización médica o áreas de expertise. <br />
        ● Historial laboral o profesional del médico, que podría incluir afiliaciones a instituciones médicas o asociaciones profesionales. <br />

      <br />
      <p>
        Por otra parte, informamos a usted, que sus datos personales serán compartidos con las siguientes autoridades, empresas, organizaciones o personas distintas a nosotros:
        <br />
        ● KAWIIL MX: Despacho contable 
        <br />
        <br />
        Su información será compartida exclusivamente para los fines que a continuación se mencionan: 
        <br />
        ● En caso de que el proveedor y/o el cliente requiera de una factura 
        <br />
        <br />
        Usted tiene en todo momento el derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); de igual manera, tiene derecho a que su información se elimine de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación); así como también a oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO. 
        Para el ejercicio de cualquiera de los derechos ARCO, se deberá presentar la solicitud respectiva a través de la siguiente dirección electrónica: info@neogaleno.com 
        Lo anterior también servirá para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, no obstante, la solicitud de ejercicio de estos derechos debe contener la siguiente información: 
        <br />
        <br />
        ● Contenido o motivo de la solicitud <br />
        ● Número de teléfono <br />
        ● Correo electrónico. <br />
        <br />
        La respuesta a la solicitud se dará en el siguiente plazo: Máximo 07 días hábiles, y se comunicará de la siguiente manera: 
        A través del correo electrónico que se indique en la solicitud. 
        Los datos de contacto del departamento de datos personales, que está a cargo de dar trámite a las solicitudes de derechos ARCO, son los siguientes: 
        <br />
        a) Departamento: Administración <br />
        b) Domicilio: Av. Lago Alberto 320, Anáhuac I Secc, Miguel Hidalgo, 11320 Ciudad de México, México.<br />
        c) Teléfono: 5538891120<br />
        d) Correo electrónico: info@neogaleno.com <br />
        <br />
        Cabe mencionar, que en cualquier momento usted puede revocar su consentimiento para el uso de sus datos personales. Del mismo modo, usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal se requiera seguir tratando sus datos personales. Asimismo, usted deberá considerar que para ciertos fines la revocación de su consentimiento implicará que no podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.
        Para revocar el consentimiento que usted otorga en este acto o para limitar su divulgación, se deberá presentar la solicitud respectiva a través de la siguiente dirección electrónica: info@neogaleno.com 
        Del mismo modo, podrá solicitar la información para conocer el procedimiento y requisitos para la revocación del consentimiento, así como limitar el uso y divulgación de su información personal. 
        En cualquier caso, la respuesta a las peticiones se dará a conocer en el siguiente plazo: 07 días hábiles. 
        El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas, por lo cual, nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, sin embargo, usted puede solicitar información sobre si el mismo ha sufrido algún cambio a través del siguiente correo electrónico: info@neogaleno.com
        
      </p>
      <br />

    </div>
  </div>
</div>

<style>
  .sub-gray {
    color: #00616a;
  }
  a.link {
    cursor: pointer;
    text-decoration: none;
    color: #10383c;
  }

  a.link:hover {
    text-decoration: none;
  }

  [data-ml-modal] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 999;
    width: 0;
    height: 0;
    opacity: 0;
  }
  [data-ml-modal]:target {
    width: auto;
    height: auto;
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
  }
  [data-ml-modal]:target .modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  [data-ml-modal] .modal-dialog {
    border-radius: 6px;
    box-shadow:
      0 11px 15px -7px rgba(0, 0, 0, 0.2),
      0 24px 38px 3px rgba(0, 0, 0, 0.14),
      0 9px 46px 8px rgba(0, 0, 0, 0.12);
    position: relative;
    width: 90%;
    max-width: 660px;
    max-height: 70%;
    margin: 10% auto;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
  }
  .modal-dialog-lg {
    max-width: 820px !important;
  }

  [data-ml-modal] .modal-dialog > h3 {
    background-color: #eee;
    border-bottom: 1px solid #b3b3b3;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0.8em 56px 0.8em 27px;
    background-color: #009ba9;
    color: #fff;
  }

  [data-ml-modal] .modal-content {
    background: #fff;
    padding: 23px 27px;
  }

  .modal-content p{
    text-indent: 2em;
    padding-top: 1em;
    font-size: 1.10em;
    line-height: 1.5;
  }

  [data-ml-modal] .modal-content {
    max-height: 450px;
    overflow: auto;
    text-align: justify;
  }

  [data-ml-modal] .modal-close {
    position: absolute;
    top: 13px;
    right: 13px;
    color: #0085a6;
    background-color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  [data-ml-modal] .modal-close:hover {
    background-color: #0085a6;
    color: #fff;
    cursor: pointer;
  }
  [data-ml-modal] p:first-child,
  [data-ml-modal] p:last-child {
    margin: 0;
  }
  @media (max-width: 767px) {
    [data-ml-modal] .modal-dialog {
      margin: 20% auto;
    }
  }
  /* End Modals ------------------------------*/

  /* General*/

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.125em;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    padding: 20px;
  }
  a {
    color: #0085a6;
    text-decoration: none;
    outline: 0;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    color: #0085a6;
    text-decoration: none;
  }
  .center {
    text-align: center !important;
  }
  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 2px solid transparent;
    white-space: normal;
    padding: 3px 14px;
    font-size: 18px;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .btn-default {
    border-color: #0085a6;
  }
  a.btn-default:hover {
    background-color: #0085a6;
    color: #fff;
  }
  pre {
    overflow: auto;
    font-size: 1em;
  }
</style>
