<a href='#modal-10' class='link'>Términos y Condiciones</a>

<div data-ml-modal id='modal-10'>
  <a href='#!' class='modal-overlay'></a>
  <div class='modal-dialog modal-dialog-lg'>
    <a href='#!' class='modal-close'>&times;</a>
    <h3 class='title-modal'>TÉRMINOS Y CONDICIONES</h3>
    <div class='modal-content newspaper'>
      <span class='sub-gray'>Última actualización: 20/11/23</span>
      <p>
        Este contrato describe los términos y condiciones generales (en adelante
        únicamente "TÉRMINOS Y CONDICIONES") aplicables al uso de los
        contenidos, productos y servicios ofrecidos a través del sitio
        www.neogaleno.com (en adelante, "SITIO WEB"), del cual es titular
        Neogaleno S.A. de C.V. (en adelante, "TITULAR") quien tiene su domicilio
        establecido en la Ciudad de México, en la siguiente dirección: Lago
        Alberto 320, Anáhuac I Sección, Del. Miguel Hidalgo, CP 11320. Cualquier
        persona que desee acceder o hacer uso del sitio o los servicios que en
        él se ofrecen, podrá hacerlo sujetándose a los presentes TÉRMINOS Y
        CONDICIONES, así como a las políticas y principios incorporados al
        presente documento. En todo caso, cualquier persona que no acepte los
        presentes términos y condiciones, deberá abstenerse de utilizar el SITIO
        WEB y/o adquirir los productos y servicios que en su caso sean
        ofrecidos.
      </p>
      <br />
      <b>I. DEL OBJETO.</b>
      <br />
      <p>
        El objeto de los presentes TÉRMINOS Y CONDICIONES es regular el acceso y
        la utilización del SITIO WEB, entendiendo por éste cualquier tipo de
        contenido, producto o servicio que se encuentre a disposición del
        público en general dentro del dominio: www.neogaleno.com El TITULAR se
        reserva la facultad de modificar en cualquier momento y sin previo
        aviso, la presentación, los contenidos, la funcionalidad, los productos,
        los servicios, y la configuración que pudiera estar contenida en el
        SITIO WEB; en este sentido, el USUARIO reconoce y acepta que Neogaleno
        S.A. de C.V. en cualquier momento podrá interrumpir, desactivar o
        cancelar cualquiera de los elementos que conforman el SITIO WEB o el
        acceso a los mismos. El SITIO WEB se encuentra dirigido a individuos que
        tengan al menos 18 años de edad cumplidos; Neogaleno S.A. de C.V.
        declina cualquier responsabilidad por el incumplimiento de este
        requisito. Se hace del conocimiento del USUARIO que el TITULAR podrá
        administrar o gestionar el SITIO WEB de manera directa o a través de un
        tercero, lo cual no modifica en ningún sentido lo establecido en los
        presentes TÉRMINOS Y CONDICIONES.
      </p>
      <br />
      <b>II. DEL USUARIO.</b>
      <br />
      <p>
        El acceso o utilización del SITIO WEB, confiere la condición de USUARIO
        del SITIO WEB, por lo que quedará sujeto a los presentes TÉRMINOS Y
        CONDICIONES, así como a sus ulteriores modificaciones, sin perjuicio de
        la aplicación de la legislación aplicable, por tanto, se tendrán por
        aceptados desde el momento en el que se accede al SITIO WEB. Dada la
        relevancia de lo anterior, se recomienda al USUARIO revisar las
        actualizaciones que se realicen a los presentes TÉRMINOS Y CONDICIONES.
        Es responsabilidad del USUARIO utilizar el SITIO WEB de acuerdo a la
        forma en la que fue diseñado; en este sentido, queda prohibida la
        utilización de cualquier tipo de software que automatice la interacción
        o descarga de los contenidos o servicios proporcionados a través del
        SITIO WEB. Además, el USUARIO se compromete a utilizar la información,
        contenidos o servicios ofrecidos a través del SITIO WEB de manera
        lícita, sin contravenir lo dispuesto en los presentes TÉRMINOS Y
        CONDICIONES, la moral o el orden público, y se abstendrá de realizar
        cualquier acto que pueda suponer una afectación a los derechos de
        terceros, o perjudique de algún modo el funcionamiento del SITIO WEB,
        Neogaleno S.A. de C.V. declina cualquier responsabilidad por el
        incumplimiento de este requisito. Por consiguiente, Neogaleno S.A. de
        C.V. no será responsable por el daño o perjuicio ocasionado a terceros
        por culpa, mala práctica o negligencia del USUARIO, así como en caso de
        violación de normas locales en cuanto a protocolos o formatos de las
        historias clínicas. El sólo acceso al SITIO WEB no supone el
        establecimiento de ningún tipo de relación entre el TITULAR y el
        USUARIO.
      </p>
      <br />
      <b>III. REGISTRO DE CUENTA</b>
      <br />
      <p>
        Para utilizar el Servicio, el USUARIO debe registrarse o crear una
        cuenta de USUARIO, proporcionando todos los datos o información
        requerida de manera completa y veraz. El no hacerlo causará la
        indisponibilidad del Servicio. Los USUARIOS son responsables de mantener
        sus datos de inicio de sesión confidenciales y seguros. Por esta razón,
        los USUARIOS también están obligados a elegir contraseñas que cumplan
        con los más altos estándares de seguridad permitidos por este SITIO WEB.
        Al registrarse, los USUARIOS aceptan ser completamente responsables de
        todas las actividades que ocurran bajo su “NOMBRE DE USUARIO” y
        “CONTRASEÑA”. Los USUARIOS están obligados a informar de inmediato y sin
        ambigüedades al TITULAR a través de los datos de contacto indicados en
        este documento, si creen que su información personal, incluidas, entre
        otras, las cuentas de USUARIO o los datos personales, han sido violados,
        divulgados indebidamente o robados. El USUARIO no utilizará, ni
        permitirá que otros usuarios utilicen el SITIO WEB o cualquier servicio
        prestado a través de él, de forma contraria a lo establecido en estos
        “TÉRMINOS Y CONDICIONES”, así como a las disposiciones legales
        aplicables a los servicios que ofrecen en el SITIIO WEB. Será
        responsabilidad del USUARIO todo acto que se realice en el SITIO WEB,
        por medio de su “NOMBRE DE USUARIO” y “CONTRASEÑA”; asimismo, se
        responsabilizará del cuidado y custodia de los mismos, para que el SITIO
        WEB únicamente sea utilizado para los fines para los cuales ha sido
        diseñado, por lo que cualquier mal uso que se realice en su nombre, se
        presumirá realizada por usted.
      </p>
      <br />
      <b>IV. DEL ACCESO Y NAVEGACIÓN EN EL SITIO WEB.</b>
      <br />
      <p>
        El TITULAR no garantiza de ningún modo la continuidad y disponibilidad
        de los contenidos, productos o servicios ofrecidos a través del SITIO
        WEB, no obstante, el TITULAR llevará a cabo las acciones que de acuerdo
        a sus posibilidades le permitan mantener el buen funcionamiento del
        SITIO WEB, sin que esto suponga alguna responsabilidad de parte de
        Neogaleno S.A. de C.V. De igual forma Neogaleno S.A. de C.V. no será
        responsable ni garantiza que el contenido o software al que pueda
        accederse a través del SITIO WEB, se encuentre libre de errores,
        software malicioso, o que pueda causar algún daño a nivel de software o
        hardware en el equipo a través del cual el USUARIO accede al SITIO WEB.
        Asimismo, el TITULAR se deslinda de cualquier daño a terceros por
        errores de datos capturados por el USUARIO en las herramientas
        proporcionadas tales como formularios, evaluaciones automatizadas,
        recetas médicas, solicitud de estudios y otros. El USUARIO es
        responsable de corroborar la veracidad y precisión de los datos que
        resulten de dichas funcionalidades de software. El TITULAR tampoco se
        hace responsable de los daños que pudiesen ocasionarse por un uso
        inadecuado del SITIO WEB. En ningún caso Neogaleno S.A. de C.V. será
        responsable por las pérdidas, daños o perjuicios de cualquier tipo que
        surjan por el sólo acceso o utilización del SITIO WEB.
      </p>
      <br />
      <b>V. DESCRIPCIÓN DEL SERVICIO</b>
      <br />
      <p>
        A través de este Sitio se ofrece software como servicio (SaaS) para
        médicos privados con un modelo de pago mensual por suscripción, que
        podrá ser cancelado en cualquier momento. Al momento de cancelar una
        suscripción no se devolverá el pago del mes en curso. Se ofrecen tres
        tipos de planes, que se diferencian por limitaciones en el número de
        consultorios, asistentes, usuarios y consultas máximas. El Plan Gratis
        de Neogaleno se ofrece de forma gratuita, mientras que los demás planes
        requieren un pago para poder acceder a los mismos, como lo son el plan
        Estándar y Premium. Las características de los Planes, así como los
        precios, se aprecian en https://www.neogaleno.com/#pricing y podrán
        modificarse con previo aviso de 30 días vía correo electrónico. El
        USUARIO podrá decidir si continuar con el servicio o cancelar su
        suscripción en cualquier momento.
      </p>
      <br />
      <b>VI. POLÍTICA DE PRIVACIDAD Y PROTECCIÓN DE DATOS.</b>
      <br />
      <p>
        De conformidad con lo establecido en la legislación mexicana, el TITULAR
        se compromete a adoptar las medidas necesarias que estén a su alcance
        para asegurar la privacidad de los datos personales recabados de forma
        que se garantice su seguridad, se evite su alteración, pérdida o
        tratamiento no autorizado. Neogaleno S.A. de C.V. será responsable del
        uso y protección de los datos ingresados por el USUARIO, en este sentido
        y atendiendo las obligaciones legales establecidas en las normas
        mexicanas e internacionales en la materia. Además, a efecto de dar
        cumplimiento a lo establecido en la legislación mexicana, todo dato
        personal que sea recabado a través del SITIO WEB, será tratado de
        conformidad con los principios de licitud, calidad, finalidad, lealtad,
        y responsabilidad. Todo tratamiento de datos personales quedará sujeto
        al consentimiento de su titular. En todo caso, la utilización de datos
        financieros o patrimoniales, requerirán de autorización expresa de sus
        titulares, no obstante, esta podrá darse a través del propio SITIO WEB
        utilizando los mecanismos habilitados para tal efecto, y en todo caso se
        dará la mayor diligencia y cuidado a este tipo de datos. Lo mismo
        ocurrirá en el caso de datos personales sensibles, considerando por
        estos aquellos que debido a una utilización indebida puedan dar origen a
        discriminación o su divulgación conlleve un riesgo para el titular. En
        todo momento se procurará que los datos personales contenidos en las
        bases de datos o archivos que en su caso se utilicen, sean pertinentes,
        correctos y actualizados para los fines para los cuales fueron
        recabados. Por otra parte, el acceso al SITIO WEB puede implicar la
        utilización de cookies, las cuales, son pequeñas cantidades de
        información que se almacenan en el navegador utilizado por el USUARIO.
        Las cookies facilitan la navegación, la hacen más amigable, y no dañan
        el dispositivo de navegación, para ello, pueden recabar información para
        ingresar al SITIO WEB, almacenar las preferencias del USUARIO, así como
        la interacción que este tenga con el SITIO WEB, como por ejemplo: la
        fecha y hora en la que se accede al SITIO WEB, el tiempo que se ha hecho
        uso de este, los sitios visitados antes y después del mismo, el número
        de páginas visitadas, la dirección IP de la cual accede el usuario, la
        frecuencia de visitas, etc. Este tipo de información será utilizada para
        mejorar el SITIO WEB, detectar errores, y posibles necesidades que el
        USUARIO pueda tener, lo anterior a efecto de ofrecer a los USUARIOS
        servicios y contenidos de mejor calidad. En todo caso, la información
        que se recopile será anónima y no se identificará a usuarios
        individuales. En caso de que el USUARIO no desee que se recopile este
        tipo de información deberá deshabilitar, rechazar, restringir y/o
        eliminar el uso de cookies en su navegador de internet. Los
        procedimientos para realizar estas acciones pueden diferir de un
        navegador a otro; en consecuencia, se sugiere revisar las instrucciones
        facilitadas por el desarrollador del navegador. En el supuesto de que
        rechace el uso de cookies (total o parcialmente) el USUARIO podrá
        continuar haciendo uso del SITIO WEB, aunque podrían quedar
        deshabilitadas algunas de las funciones del mismo. Es posible que en el
        futuro estas políticas respecto a las cookies cambien o se actualicen,
        por ello es recomendable revisar las actualizaciones que se realicen a
        los presentes TÉRMINOS Y CONDICIONES, con objetivo de estar
        adecuadamente informado sobre cómo y para qué utilizamos las cookies que
        se generan al ingresar o hacer uso del SITIO WEB.
      </p>
      <br />
      <b>VII. POLÍTICA DE ENLACES.</b>
      <br />
      <p>
        Los USUARIOS o terceros que realicen o publiquen un enlace web desde una
        página web externa, a este SITIO WEB deberán tomar en cuenta lo
        siguiente: No se permite la reproducción (total o parcial) de los
        contenidos, productos o servicios disponibles en el SITIO WEB sin la
        autorización expresa de Neogaleno S.A. de C.V. o su titular. Tampoco se
        permitirán manifestaciones falsas, inexactas o incorrectas sobre el
        SITIO WEB, ni sobre sus contenidos, productos o servicios, pudiendo
        Neogaleno S.A. de C.V. restringir el acceso al SITIO WEB a toda aquella
        persona que incurra en este tipo de actos. El establecimiento de un
        enlace al SITIO WEB desde cualquier sitio externo, no implicará la
        existencia de alguna relación entre Neogaleno S.A. de C.V. y el titular
        del sitio web desde el cual se realice, tampoco implicará el
        conocimiento de Neogaleno S.A. de C.V. de los contenidos, productos o
        servicios ofrecidos en los sitios externos desde los cuales se pueda
        acceder al SITIO WEB.
      </p>
      <br />
      <b>VIII. POLÍTICA EN MATERIA DE PROPIEDAD INTELECTUAL E INDUSTRIAL.</b>
      <br />
      <p>
        Neogaleno S.A. de C.V. por sí o como parte cesionaria, es titular de
        todos los derechos de propiedad intelectual e industrial del SITIO WEB,
        entendiendo por este el código fuente que hace posible su
        funcionamiento, así como las imágenes, archivos de audio o video,
        logotipos, marcas, combinaciones de colores, estructuras, diseños y
        demás elementos que lo distinguen. Serán, por consiguiente, protegidas
        por la legislación mexicana en materia de propiedad intelectual e
        industrial, así como por los tratados internacionales aplicables. Por
        consiguiente, queda expresamente prohibida la reproducción,
        distribución, o difusión de los contenidos del SITIO WEB, con fines
        comerciales, en cualquier soporte y por cualquier medio, sin la
        autorización de Neogaleno S.A. de C.V. El uso de nuestro SITIO WEB, no
        lo convierte a usted en titular de ninguno de los derechos de propiedad
        intelectual del mismo, ni del contenido o información a la que acceda.
        Queda prohibido utilizar el nombre, la marca o el logotipo del mismo.
        Asimismo, no se podrá eliminar, ocultar ni alterar los avisos legales
        que se muestran en el mismo. Sin perjuicio de lo anterior, además de
        poder visualizar los elementos del SITIO WEB podrá imprimirlos,
        copiarlos o almacenarlos, siempre y cuando sea exclusivamente para su
        uso estrictamente personal. Por otro lado, el USUARIO, se abstendrá de
        suprimir, alterar, o manipular cualquier elemento, archivo, o contenido,
        del SITIO WEB, y por ningún motivo realizará actos tendientes a vulnerar
        la seguridad, los archivos o bases de datos que se encuentren
        protegidos, ya sea a través de un acceso restringido mediante un usuario
        y contraseña, o porque no cuente con los permisos para visualizarlos,
        editarlos o manipularlos. En caso de que el USUARIO o algún tercero
        consideren que cualquiera de los contenidos del SITIO WEB suponga una
        violación de los derechos de protección de la propiedad industrial o
        intelectual, deberá comunicarlo inmediatamente a Neogaleno S.A. de C.V.
        a través de los datos de contacto disponibles en el propio SITIO WEB.
      </p>
      <br />
      <b>IX. LEGISLACIÓN Y JURISDICCIÓN APLICABLE.</b>
      <br />
      <p>
        Neogaleno S.A. de C.V. se reserva la facultad de presentar las acciones
        civiles o penales que considere necesarias por la utilización indebida
        del SITIO WEB, sus contenidos, productos o servicios, o por el
        incumplimiento de los presentes TÉRMINOS Y CONDICIONES. La relación
        entre el USUARIO y Neogaleno S.A. de C.V. se regirá por la legislación
        vigente en México, específicamente en la Ciudad de México. De surgir
        cualquier controversia en relación a la interpretación y/o a la
        aplicación de los presentes TÉRMINOS Y CONDICIONES, las partes se
        someterán a la jurisdicción ordinaria de los tribunales que correspondan
        conforme a derecho en el estado al que se hace referencia.
      </p>
    </div>
  </div>
</div>

<style>
  .sub-gray {
    color: #00616a;
  }
  a.link {
    cursor: help;
    text-decoration: none;
    color: #10383c;
  }

  a.link:hover {
    text-decoration: none;
  }

  [data-ml-modal] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 999;
    width: 0;
    height: 0;
    opacity: 0;
  }
  [data-ml-modal]:target {
    width: auto;
    height: auto;
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
  }
  [data-ml-modal]:target .modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  [data-ml-modal] .modal-dialog {
    border-radius: 6px;
    box-shadow:
      0 11px 15px -7px rgba(0, 0, 0, 0.2),
      0 24px 38px 3px rgba(0, 0, 0, 0.14),
      0 9px 46px 8px rgba(0, 0, 0, 0.12);
    position: relative;
    width: 90%;
    max-width: 660px;
    max-height: 70%;
    margin: 10% auto;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
  }
  .modal-dialog-lg {
    max-width: 820px !important;
  }

  [data-ml-modal] .modal-dialog > h3 {
    background-color: #eee;
    border-bottom: 1px solid #b3b3b3;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0.8em 56px 0.8em 27px;
    background-color: #009ba9;
    color: #fff;
  }

  [data-ml-modal] .modal-content {
    background: #fff;
    padding: 23px 27px;
  }

  .modal-content p{
    text-indent: 2em;
    padding-top: 1em;
  }

  [data-ml-modal] .modal-content {
    max-height: 450px;
    overflow: auto;
    text-align: justify;
  }

  [data-ml-modal] .modal-close {
    position: absolute;
    top: 13px;
    right: 13px;
    color: #0085a6;
    background-color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  [data-ml-modal] .modal-close:hover {
    background-color: #0085a6;
    color: #fff;
    cursor: pointer;
  }
  [data-ml-modal] p:first-child,
  [data-ml-modal] p:last-child {
    margin: 0;
  }
  @media (max-width: 767px) {
    [data-ml-modal] .modal-dialog {
      margin: 20% auto;
    }
  }
  /* End Modals ------------------------------*/

  /* General*/

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.125em;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    padding: 20px;
  }
  a {
    color: #0085a6;
    text-decoration: none;
    outline: 0;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    color: #0085a6;
    text-decoration: none;
  }
  .center {
    text-align: center !important;
  }
  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 2px solid transparent;
    white-space: normal;
    padding: 3px 14px;
    font-size: 18px;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .btn-default {
    border-color: #0085a6;
  }
  a.btn-default:hover {
    background-color: #0085a6;
    color: #fff;
  }
  pre {
    overflow: auto;
    font-size: 1em;
  }
</style>
